/AnchorParser/data/anchors.txt
/AnchorParser/bin
/AnchorParser/data/URIKeyMapSave.ukm
/AnchorParser/data/anchors.ukm
/AnchorParser/data/testFiles/URIKeyMapSave.txt
/AnchorParser/data/testFiles/URIKeyMapSave.ukm
/AnchorParser/data/testFiles/AnchorKeyMapSave.txt
/AnchorParser/data/anchors_ukm.txt
/AnchorParser/data/testFiles/PartialAnchorKeyMapSave.txt
/AnchorParser/data/1_URIKeyMap.txt
/AnchorParser/data/2_AnchorKeyMap.txt
/AnchorParser/data/3_PartialAnchorKeyMap.txt
/AnchorParser/data/jdbm
