/AnchorParser/data/anchors.txt
/AnchorParser/bin
/AnchorParser/data/URIKeyMapSave.ukm
/AnchorParser/data/anchors.ukm
/AnchorParser/data/testFiles/URIKeyMapSave.txt
/AnchorParser/data/testFiles/URIKeyMapSave.ukm
/AnchorParser/data/testFiles/AnchorKeyMapSave.txt
/AnchorParser/data/anchors_ukm.txt
/AnchorParser/data/testFiles/PartialAnchorKeyMapSave.txt
/AnchorParser/data/1_URIKeyMap.txt
/AnchorParser/data/2_AnchorKeyMap.txt
/AnchorParser/data/3_PartialAnchorKeyMap.txt
/AnchorParser/data/jdbm
/AnchorParser/data/anchors_small.txt
/External Jars
/Neo4jSandbox/test
/.metadata
/Core/entityLinking.arff
/Core/entityLinking.model
/Core/experiment_1.txt
/Core/testModel.arff
/Core/.settings
/spotlight
/config_testset.ini
/config_toyset.ini
/DataTypes
/EntityLinker
/AnchorParser
/DatasetEvaluator
